body{
    background-color: #F29AAE;
}

section{
    background-color: #C47BE4;
    border-bottom: 2px solid #301CA0;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: #7132ca;
}